<?xml version='1.0' encoding='utf-8'?>
<widget id="ch.divtec.bendsev.emprunts" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>app-emprunts</name>
    <description>Client web de la DIVTEC</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
    Apache Cordova Team
  </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="about:*" />
    <plugin name="cordova-plugin-camera" spec="^2.4.1" />
    <plugin name="phonegap-plugin-barcodescanner" />
    <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
        <string>To scan barcodes</string>
    </edit-config>
</widget>
